@page
@model Meeting_Manager.Pages.Meeting.Student_MeetingModel
@{
}

<body>
    <section>
        <nav>
            <h1>Faculty Search</h1>
            <form asp-page-handler="SingleSelect" method="post">
                <select name="FacultySearch" class="form-select" aria-label="Default select example" required>
                    <option selected>Search Faculty Members</option>
                    @{
                        foreach (var Faculty in Model.FacultyList)
                        {
                        //<option value="@Faculty.FacultyID">(@Faculty.FacultyID) @Faculty.FacultyFName @Faculty.FacultyLName </option>\
                                    <option>@Faculty.FacultyID) @Faculty.FacultyFName  @Faculty.FacultyLName</option>
                        }
                    }
                </select>
                <div class="invalid-feedback">
                    Please select a Professor to meet with:
                </div>
                <br />
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </nav>
    </section>

</body>

<div style="width: 175px; height: 100%; position: fixed; left: 0; top: 0; overflow-y: scroll; background-color: #CBC3E3;">
    <ul>
        <li><button style="background-color: white;"><a href="/Meeting/Student_Meeting">My Meetings</a></button></li>
        <li><button style="background-color: white;"><a href="/Profile/Student_Profile">My Profile</a></button></button></li>
        <li><button style="background-color: white;"><a href="/Queue/Student_Queue">My Queue</a></button></button></li>

    </ul>

</div>


<form style="width: 50%; margin: 50px auto; text-align: center;">
  <input type="text" placeholder="Search for your professors here!">
  <button type="submit">Submit</button>
</form>

<form style="width: 50%; margin: 50px auto; text-align: center;">

    <button type="submit">
        <a href="/Meeting/SignUp_Sheet">Sign Up For Office Hours</a>
    </button>
</form>

