@page
@model Meeting_Manager.Pages.Profile.EditFacultyProfileModel
@{
}

<form asp-page="EditFacultyProfile">
    <input type="hidden" asp-for="@Model.facultyToUpdate.FacultyID" />

    <label>Faculty First Name:</label>
    <input type="text" asp-for="@Model.facultyToUpdate.FacultyFName" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_FacultyFName').value = 'Test First Name'">Populate</button>
    <br />
    <label>Faculty Last Name:</label>
    <input type="text" asp-for="@Model.facultyToUpdate.FacultyLName" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_FacultyLName').value = 'Test Last Name'">Populate</button>
    <br />
    <label>Faculty Email</label>
    <input type="text" asp-for="@Model.facultyToUpdate.FacultyEmail" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_FacultyEmail').value = 'TestProf@dukes.jmu.edu'">Populate</button>
    <br />
    <label>Office Phone Number</label>
    <input type="text" asp-for="@Model.facultyToUpdate.OfficePhoneNum" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_OfficePhoneNum').value = '703-444-4444'">Populate</button>
    <br />
    <label>Office Location</label>
    <input type="text" asp-for="@Model.facultyToUpdate.OfficeLocation" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_OfficeLocation').value = '5565 Electric Avenue'">Populate</button>
    <br />
    <label>Faculty Description</label>
    <input type="text" asp-for="@Model.facultyToUpdate.FacultyDescription"/>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_FacultyDescription').value = 'MoWed: 12:45am-2:45pm    TuThu: 9am-12pm'">Populate</button>
    <br />
    <label>Faculty Class 1</label>
    <input type="text" asp-for="@Model.facultyToUpdate.FacultyClass1" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_FacultyClass1').value = 'CIS 301'">Populate</button>
    <br />
    <label>Faculty Class 2</label>
    <input type="text" asp-for="@Model.facultyToUpdate.FacultyClass2" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_FacultyClass2').value = 'CIS 454'">Populate</button>
    <br />
    <label>Faculty Class 3</label>
    <input type="text" asp-for="@Model.facultyToUpdate.FacultyClass3" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_FacultyClass3').value = 'CIS 464'">Populate</button>
    <br />
    <label>Faculty Class 4</label>
    <input type="text" asp-for="@Model.facultyToUpdate.FacultyClass4" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_FacultyClass4').value = 'CIS 331'">Populate</button>
    <br />
    <label>Faculty Class 5</label>
    <input type="text" asp-for="@Model.facultyToUpdate.FacultyClass5" />
    <button type="button" class="btn btn-primary" onclick="document.getElementById('facultyToUpdate_FacultyClass5').value = 'CIS 484'">Populate</button>
    <br /><br />
    <input type="submit" class="btn btn-success" asp-page="EditFacultyProfile" />
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>