@page
@model Meeting_Manager.Pages.Profile.Faculty_ProfileModel
@{
}

<form method="post" asp-page-handler="Logout">
    <button type="submit" style="position: fixed; top: 10px; right: 10px;" class="btn btn-link">Logout</button>
</form>

<div style="position: relative; left: 125px;">
    <h3>My Faculty Profile</h3>
</div>



@*//Sidebar with Options*@


<div style="width: 175px; height: 100%; position: fixed; left: 0; top: 0; overflow-y: scroll; background-color: #CD5C5C;">
    <ul>
        <li><button style="background-color: white;"><a href="/Meeting/Faculty_Meeting">My Meetings</a></button></li>
        <li><button style="background-color: white;"><a href="/Profile/Faculty_Profile">My Profile</a></button></button></li>
        <li><button style="background-color: white;"><a href="/Queue/Faculty_Queue">My Queue</a></button></button></li>

    </ul>
</div>



@*//Chart for Faculty Profile Options*@

<div style="position: relative; left: 125px;">
    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Preferred Office Phone Number</th>
                <th>Office Location</th>
                <th>Class 1</th>
                <th>Class 2</th>
                <th>Class 3</th>
                <th>Class 4</th>
                <th>Class 5</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                @{
                    foreach (var FacultyProfile in Model.FacultyList)
                    {
                        if (FacultyProfile.FacultyID == HttpContext.Session.GetInt32("facultyID"))
                        {

                            <td>@FacultyProfile.FacultyFName</td>
                            <td>@FacultyProfile.FacultyLName</td>
                            <td>@FacultyProfile.FacultyEmail</td>
                            <td>@FacultyProfile.OfficePhoneNum</td>
                            <td>@FacultyProfile.OfficeLocation</td>
                            <td>@FacultyProfile.Class1</td>
                            <td>@FacultyProfile.Class2</td>
                            <td>@FacultyProfile.Class3</td>
                            <td>@FacultyProfile.Class4</td>
                            <td>@FacultyProfile.Class5</td>
                            <td>@FacultyProfile.Availability</td>

                            //MoWe: 12:45pm-2:45pm <br /> TuThu: 9:00am-12:00pm</td>
                            <td>

                            </td>

                            <td>

                            </td>
                        }
                        <a asp-page="EditFacultyProfile" class="btn btn-outline-primary" asp-route-facultyid="@FacultyProfile.FacultyID">Edit</a>
                    }
                }
                
            </tr>


        </tbody>


      
    </table>
</div>