@page
@model Meeting_Manager.Pages.Profile.Faculty_ProfileModel
@{
}

<form method="post" asp-page-handler="Logout">
    <button type="submit" style="position: fixed; top: 10px; right: 10px;" class="btn btn-link">Logout</button>
</form>

<div style="position: relative; left: 125px;">
    <h3>My Faculty Profile</h3>
</div>



@*//Sidebar with Options*@


<div style="width: 175px; height: 100%; position: fixed; left: 0; top: 0; overflow-y: scroll; background-color: #CD5C5C;">
    <ul>
        <li><button style="background-color: white;"><a href="/Meeting/Faculty_Meeting">My Meetings</a></button></li>
        <li><button style="background-color: white;"><a href="/Profile/Faculty_Profile">My Profile</a></button></button></li>
        <li><button style="background-color: white;"><a href="/Queue/Faculty_Queue">My Queue</a></button></button></li>

    </ul>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Notifications Button</title>
    <style>
        .notification-button {
            position: fixed;
            top: 10px;
            right: 10px;
            background-color: blue;
            color: white;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .notification-dropdown {
            position: absolute;
            top: 40px;
            right: 10px;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            display: none;
        }

            .notification-dropdown p {
                margin: 0;
                padding: 5px 0;
            }
    </style>
</head>
<body>
    <div class="notification-button">Notifications</div>
    <div class="notification-dropdown">
        <p>Notification Message 1</p>
        <p>Notification Message 2</p>
        <p>Notification Message 3</p>
    </div>
    <script>
        var notificationButton = document.querySelector('.notification-button');
        var notificationDropdown = document.querySelector('.notification-dropdown');
        notificationButton.addEventListener('click', function () {
            if (notificationDropdown.style.display === 'none') {
                notificationDropdown.style.display = 'block';
            } else {
                notificationDropdown.style.display = 'none';
            }
        });
    </script>
</body>
</html>




@*//Chart for Faculty Profile Options*@

<div style="position: relative; left: 125px;">
    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Preferred Office Phone Number</th>
                <th>Office Location</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                @{
                    foreach (var FacultyProfile in Model.FacultyList)
                    {
                        if (FacultyProfile.FacultyID == HttpContext.Session.GetInt32("facultyID"))
                        {
                            <tr>
                                <td>@FacultyProfile.FacultyFName</td>
                                <td>@FacultyProfile.FacultyLName</td>
                                <td>@FacultyProfile.FacultyEmail</td>
                                <td>@FacultyProfile.OfficePhoneNum</td>
                                <td>@FacultyProfile.OfficeLocation</td>
                                <td>@FacultyProfile.Availability</td>
                                <td>
                              

                                </td>
                            </tr>
                        
                        }
                    <a asp-page="EditFacultyProfile" class="btn btn-outline-primary" asp-route-facultyid="@FacultyProfile.FacultyID">Edit</a>
                    }
                }
                
            </tr>


        </tbody>


      
    </table>
</div>